*
{
  margin: 0;
  padding: 0;
}

  body
  {
    overflow: hidden;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    user-select: none;
  } 

  .alignCenter
  {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 900px;
  }

  .link_wrapper
  {
    position: relative;
  }
  
  a
  {
    position: relative;
    bottom: 50%;
    margin-bottom: 200%;
    display: block;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
  }
  
  .icon
  {
    width: 50px;
    height: 50px;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icon svg
  {
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #2ecc71;
    transition: all .35s;
  }
  
  a:hover
  {
    width: 250px;
    border: 3px solid #2ecc71;
    background: transparent;
    color: #2ecc71;
  }
  
  a:hover + .icon
  {
    border: 3px solid #2ecc71;
    right: -25%;
  }

  .gameBtn 
  {   
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .gameBtn:hover, .gameBtn:focus 
  {
    color: #fff;
    outline: 0;
  } 

  .gameBtn 
  {
    border-color: #3498db;
    color: #fff;
    box-shadow: 0 0 40px 40px #22628d inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .gameBtn:hover 
  {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }

  .tinyText
  {
    font-size: 25px;
    font-family: fantasy;
  }

  @keyframes animate 
  {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
  }

  .content 
  {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
  }

  .loader-wrapper 
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .loader
  {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }

  .loader-inner 
  {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }

  @keyframes loader 
  {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(180deg);}
    50% { transform: rotate(180deg);}
    75% { transform: rotate(360deg);}
    100% { transform: rotate(360deg);}
  }

  @keyframes loader-inner 
  {
    0% { height: 0%;}
    25% { height: 0%;}
    50% { height: 100%;}
    75% { height: 100%;}
    100% { height: 0%;}
  }

  path 
  {
    fill: transparent;
  }

  text 
  {
    fill: #e09d0b;
    user-select: none;
  }

  .samuraiHead 
  {
    opacity: 0.8;
    position: absolute;
    top: 50%;
    margin: -15vh;
  }

  .sverd
  {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    top: -100px;
  }

  .background1 
  {
    background-image: url("Assault.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;          
  }

  .background 
  { 
    background-image: url("vanlilje.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;                 
  }
  
  .background2 
  {
    background-image: url("ShopSamurai.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .background3 
  {
    background-image: url("Courtyard.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .lostSite 
  {
    background-image: url("vanlilje.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }

  .hp 
  {
    position: relative;
    margin: 0vh 0 0 6vw;
    display: absolute;
  }

  .sword 
  {
    position: relative;
    margin: 0vh 0 0 10vw;
    display: absolute;
  }

  .shopIcon 
  {
    position: relative;
    margin: 1vh 0 0 35.5vw
    
  }

  .fightIcon 
  {
    position: relative;
    margin: 1vh 0 0 -25vw;
    display: absolute;
  }

  .maximumhp 
  {
    position: relative;
    margin: 1vh 0 0 10vw;
    display: absolute;
  }

  .arrowleft 
  {
    position: relative;
    margin: 1vh 0 0 8vw;
    display: absolute;
  }

  .Untitled 
  {
    margin: 1vh 0 0 38.5vw;
    display: absolute;
    top: -0.3vh;
    position: absolute;
  }

  .Player 
  {
    display: relative;
    margin: 23vh 0 0 22vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .Enemy 
  {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    float: right;
    margin: 5vh 33vw 0 5vw;

  }

  .Status 
  {
    margin: 0vh 0 0 30px;
    float: right;
    FONT-FAMILY: fantasy;
    COLOR: YELLOW;
  }

  .attackicon 
  {
    margin: 1vh 0 0 15vw;
  }

  .PlayerHealth 
  {
    color: red;
    margin: -1vh 59vw 0 -17vw;
    float: right;
    position: relative;
  }

  .EnemyHealth 
  {
    color: red;
    float: right;
    margin-right: -17vw;
  }

  .RunningIcon 
  {
    margin: 0 0 0 16.5vw;
  }
 

 
